<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702493573563-m5qb315088ut3qvta4cekirvekqvfft7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702493573563-m5qb315088ut3qvta4cekirvekqvfft7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>702493573563-824nu12vslgm9k7vih739qv6d0qaiblo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDYFB-Jw1Ns9s_WF4Svbqgq9h7N0nNUGA8</string>
	<key>GCM_SENDER_ID</key>
	<string>702493573563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myWork</string>
	<key>PROJECT_ID</key>
	<string>mywork-c75e7</string>
	<key>STORAGE_BUCKET</key>
	<string>mywork-c75e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702493573563:ios:7cacb60549785faffa449e</string>
</dict>
</plist>